*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0px  auto;
}
.row:before , .row:after{
    content: "";
    display:table;
}
.row:after{
    clear: both;
}
[class*="colum-"]{
    min-height: 7px;
    padding: 12px;
    height: 60px;
    float: left;
    
}
.colum-1{
    width: 8.333333%;
    background:  red;
    outline: 2px solid black;
    margin:20px;
}
.colum-2{
    width: 16.666667%;
    background:  red;
    outline: 2px solid black;
    margin:20px;
}
.colum-3{
    width: 25%;
    background:  red;
    outline: 2px solid black;
    margin:20px;
}
.colum-4{
    width: 33.333333%;
    background:  red;
    outline: 2px solid black;
    margin:20px;
}
.colum-5{
    width: 41.333333%;
    background:  red;
    outline: 2px solid black;
    margin:20px;
}
.colum-6{
    width: 49%;
    background:  red;
    outline: 2px solid black;
    margin:20px;
}
